In [83]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from datetime import datetime,timedelta

In [62]:
junc3_df=pd.read_csv('Traffic_Junc/Junc3.csv')

In [63]:
junc3_df.head()

              DateTime  Junction  Vehicles  year
0  2015-11-01 00:00:00         3         9  2015
1  2015-11-01 01:00:00         3         7  2015
2  2015-11-01 02:00:00         3         5  2015
3  2015-11-01 03:00:00         3         1  2015
4  2015-11-01 04:00:00         3         2  2015

In [64]:
junc3_df['DateTime']=pd.to_datetime(junc3_df['DateTime'])

In [65]:
junc3_df.head()

             DateTime  Junction  Vehicles  year
0 2015-11-01 00:00:00         3         9  2015
1 2015-11-01 01:00:00         3         7  2015
2 2015-11-01 02:00:00         3         5  2015
3 2015-11-01 03:00:00         3         1  2015
4 2015-11-01 04:00:00         3         2  2015

In [66]:
junc3_df.dtypes

DateTime    datetime64[ns]
Junction             int64
Vehicles             int64
year                 int64
dtype: object

In [78]:
mms=MinMaxScaler()

In [79]:
junc3_df['Vehicles_scaled']=mms.fit_transform(junc3_df['Vehicles'].values.reshape(-1,1))

Train Test split

In [80]:
junc3_df.head()

             DateTime  Junction  Vehicles  year  Vehicles_scaled
0 2015-11-01 00:00:00         3         9  2015         0.044693
1 2015-11-01 01:00:00         3         7  2015         0.033520
2 2015-11-01 02:00:00         3         5  2015         0.022346
3 2015-11-01 03:00:00         3         1  2015         0.000000
4 2015-11-01 04:00:00         3         2  2015         0.005587

In [82]:
train_size=int(len(junc3_df)*0.4)
train_data=junc3_df.iloc[:train_size]
test_data=junc3_df.iloc[train_size:]

train_data

                DateTime  Junction  Vehicles  year  Vehicles_scaled
0    2015-11-01 00:00:00         3         9  2015         0.044693
1    2015-11-01 01:00:00         3         7  2015         0.033520
2    2015-11-01 02:00:00         3         5  2015         0.022346
3    2015-11-01 03:00:00         3         1  2015         0.000000
4    2015-11-01 04:00:00         3         2  2015         0.005587
...                  ...       ...       ...   ...              ...
5831 2016-06-30 23:00:00         3        10  2016         0.050279
5832 2016-07-01 00:00:00         3         9  2016         0.044693
5833 2016-07-01 01:00:00         3         9  2016         0.044693
5834 2016-07-01 02:00:00         3         3  2016         0.011173
5835 2016-07-01 03:00:00         3         3  2016         0.011173

[5836 rows x 5 columns]

In [84]:
sequence=10
def create_sequence(data,sequence):
    x=[]
    y=[]
    for i in range(len(data)-sequence):
        x.append(data[i:i+sequence])
        y.append(data[i+sequence])
    return np.array(x),np.array(y)

In [88]:
X_train, y_train = create_sequence(train_data['Vehicles_scaled'].values,sequence)
X_test, y_test = create_sequence(test_data['Vehicles_scaled'].values,sequence)

In [89]:
X_train = X_train.reshape(X_train.shape[0], -1)
X_test = X_test.reshape(X_test.shape[0], -1)

In [90]:
model=LinearRegression()

model.fit(X_train,y_train)

LinearRegression()

In [98]:
current_time = datetime.now()
future_time = current_time + timedelta(hours=1)
future_time_str = future_time.strftime('%Y-%m-%d %H:%M:%S')

predicted_traffic = model.predict(X_test[-1].reshape(1, -1))
predicted_traffic = mms.inverse_transform(predicted_traffic.reshape(1, -1))

print('Current Time:', current_time)
print('Future Time:', future_time_str)
print('Predicted Traffic at Future Time:', predicted_traffic[0][0])

Current Time: 2023-07-06 23:15:35.441163
Future Time: 2023-07-07 00:15:35
Predicted Traffic at Future Time: 23.780653825843377