In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
traffic_df = pd.read_csv("DataSet/train13619.csv")
traffic_df

                 timestamp  hourly_traffic_count
0      2015-10-04 00:00:00                     6
1      2015-10-04 00:05:00                     0
2      2015-10-04 00:10:00                     8
3      2015-10-04 00:15:00                     4
4      2015-10-04 00:20:00                     4
...                    ...                   ...
26491  2016-01-03 23:35:00                     6
26492  2016-01-03 23:40:00                     9
26493  2016-01-03 23:45:00                     7
26494  2016-01-03 23:50:00                     7
26495  2016-01-03 23:55:00                     7

[26496 rows x 2 columns]

In [3]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             26496 non-null  object
 1   hourly_traffic_count  26496 non-null  int64
dtypes: int64(1), object(1)
memory usage: 414.1+ KB

In [4]:
# Change the date/time column's datatype to be date time
traffic_df["timestamp"] = pd.to_datetime(traffic_df["timestamp"])

In [6]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             26496 non-null  datetime64[ns]
 1   hourly_traffic_count  26496 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 414.1 KB

In [7]:
#Set the date/time column as the index of your dataset to facilitate time series analysis
traffic_df.set_index("timestamp", inplace=True)

In [8]:
traffic_df

                     hourly_traffic_count
timestamp
2015-10-04 00:00:00                     6
2015-10-04 00:05:00                     0
2015-10-04 00:10:00                     8
2015-10-04 00:15:00                     4
2015-10-04 00:20:00                     4
...                                   ...
2016-01-03 23:35:00                     6
2016-01-03 23:40:00                     9
2016-01-03 23:45:00                     7
2016-01-03 23:50:00                     7
2016-01-03 23:55:00                     7

[26496 rows x 1 columns]

In [9]:
# There are no null values
traffic_df.isnull().sum()

hourly_traffic_count    0
dtype: int64

In [10]:
traffic_df.to_csv("Data_Preparation_New_Datasets/Data Prepared Train 13619.csv")

In [11]:
traffic_df_2 = pd.read_csv("DataSet/train13720.csv")
traffic_df_2

                 timestamp  hourly_traffic_count
0      2015-10-04 00:00:00                     7
1      2015-10-04 00:05:00                     6
2      2015-10-04 00:10:00                    10
3      2015-10-04 00:15:00                     4
4      2015-10-04 00:20:00                     7
...                    ...                   ...
26491  2016-01-03 23:35:00                     8
26492  2016-01-03 23:40:00                    13
26493  2016-01-03 23:45:00                     6
26494  2016-01-03 23:50:00                     4
26495  2016-01-03 23:55:00                     4

[26496 rows x 2 columns]

In [12]:
traffic_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             26496 non-null  object
 1   hourly_traffic_count  26496 non-null  int64
dtypes: int64(1), object(1)
memory usage: 414.1+ KB

In [ ]:
# Change the date/time column's datatype to be date time
traffic_df_2["timestamp"] = pd.to_datetime(traffic_df["timestamp"])